@import './mixins.scss';
@import './typography.scss';
@import './vars.scss';


.error-txt {
    color: $def-error;
}

.blue-small-btn {
    display: flex;
    align-items: center;
    background: $primary;
    color: white;
    width: 133px;

    justify-content: center;
    padding: 5px 10px 5px 12px;
    gap: 4px;
    border-radius: 100px;
}

.df {
    display: flex;
}
.ai-c {
    align-items: center;
}

.modal {
    padding: 0 25px;
    padding-bottom: 40px;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__item {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    background: #fff;
}
