$header-hight: 46px;

// primary
$primary: #29b6f6;
$prim-var1: #1769aa;
$prim-var2: #e1f5fe;

// secondary
$secondary: #00e676;
$sec-var1: #00a152;
$sec-var2: #00a152;
$sec-var3: #85cfab;

// error
$error: #ffebee;

// texts
$def-black: #263238;
$def-gray: #9e9e9e;
$def-error: #ff3d00;
$def-white: #ffffff;
